{{> topheader }}

<div class="index_header">
  <div class="left" style="float:left;">
    <h1 style="color: white;padding: 10px;">E-Voting India</h1>
  </div>
  <div class="right">
    <a href="/welcome" style="border: 2px solid black;box-shadow: 2px 5px 5px 5px;">Home</a>
    <a href="/result" style="border: 2px solid black;box-shadow: 2px 5px 5px 5px;">Result</a>
    <a href="/candidates" style="border: 2px solid black;box-shadow: 2px 5px 5px 5px;">Candidates</a>
    <a href="/testimonials" style="border: 2px solid black;box-shadow: 2px 5px 5px 5px;">Testimonials</a>
    <a href="/login" style="border: 2px solid black;box-shadow: 2px 5px 5px 5px;">Login</a>
    <a href="/signup" style="border: 2px solid black;box-shadow: 2px 5px 5px 5px;">Signup</a>
  </div>
</div>
