{{> nHeader }}

<div class="notes_wrapper">

  {{!-- <div class="log_sign">
    <a href="/signup" class="pri_btn">Need an account?</a>
  </div> --}}

  <div class="register cua " style="border: 1px solid black;padding: 50px;border-radius: 20px;background: white;box-shadow: 5px 5px 5px 5px;">
    <div class="display_text">
      <span>Let's Vote!</span>
    </div>
    <form class="form_login">
      <input type="text" name="username" value="" class="l_username" autofocus required spellcheck="false" autocomplete='false'
        placeholder='Username'>
      <input type="password" name="password" value="" class="l_password" required placeholder='Password'>
      <input type="text" name="otp" value="" class="l_otp" placeholder='Enter OTP' style="display: none;">
      <input type="submit" name="" value="Login" class="l_submit">
    </form>
  </div>

</div>

{{> footer }}
