{{> nHeader }}

<div class="notes_wrapper" style="background-image: url('/images/Vote_bg_image.jpg');background-repeat: no-repeat;background-size: cover;background-position: center;height:650px">
  <div class="welcome_div">
    <img src="/images/vote.png" alt="" style="border-radius: 20px;margin-bottom:150px;box-shadow: 10px 10px 10px 5px;">
  </div>
</div>

{{> footer }}
